*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

body{
    /* background-color: red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: auto;
    /* border: 1px solid white; */
    
}

img{
    width: auto;
    height: 40vh;
    margin-top: 100px;

}

@keyframes scaleAnimation {
    from{
        height: 0vh;
    }
    to{
        height: 40vh;
    }
}



select{
    background-color: white;
    width: 90px;
    height: 30px;
    margin-top: 60px;
    font-weight: bold;
}

select option{
    background-color: white;
    width: inherit;
    height: inherit;
}